@media (min-width: 992px) {
    #shoplist {
        width: 80%;
        float: right;
        margin-right: 2%;
    }
    .filtercategories {
        position: absolute;
        width: 17%;
    }
    .navbar .nav-link::after {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0px;
        background: transparent;
        transition: width .3s ease, background-color .3s ease;
    }

    .navbar .nav-link:hover::after {
        width: 100%;
        background: black;
    }
}

@media(max-width: 991px) {
    #shoplist {
        margin-top: 1em;
        display: block;
        z-index: 0;
        width: 100%;
    }
    .filtercategories {
        width: 96%;
        display: block;
    }
    .product{
      margin-left: 4%;
    }
}

.carousel-image {
    width: 100%;
    height: 50em;
    background-repeat: repeat-x;
}

.navbar .nav-link {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 3px;
    position: relative;
}


.product .input-group input {
    text-align: center;
}

.product .input-group span {
    cursor: pointer;
}

.product {
    position: relative;
}

.product .input-group {
    position: absolute;
    bottom: 5px;
    width: 90%;
    left: 5%;
}

#slider-range {
    margin-bottom: 20px;
    position: relative;
}

#slider-range p {
    position: absolute;
    top: 100%;
}

#slider-range p:hover {
    color: black;
}

#slider-range p:active {
    color: black;
}
