nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

nav li {
    float: left;
}

nav li a {
    cursor: pointer;
    padding: 1em;
    display: block;
    text-decoration: none;
    color: inherit;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

nav li a:hover {
    text-decoration: none;
    color: inherit;
}

nav li:hover {
    border-bottom: 10px solid black;
}

.carousel-image {
    margin: auto;
}

#mainCarousel {
    align-content: center;
    width: 100%;
}
